:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 0;
}

/* Ensures circles stay circular and pentagon cells stay square */
.score-shape {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  box-sizing: border-box;

  @media (max-width: 599px) {
    width: 90%;
    padding-bottom: 90%;
  }
}

.score-shape-inner {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon {
  top: 30vh;
  left: 40%;
  position: absolute;
  margin: 0 auto;
  background-color: dodgerblue;
  border-radius: 10px;
  width: 100px;
  height: 63px;
  box-sizing: border-box;
  transition: all 1s;
  border: 0.4vh solid transparent;
}
.hexagon:before,
.hexagon:after {
  content: "";
  border: inherit;
  position: absolute;
  top: -0.5vh;
  left: -0.5vh;
  background-color: transparent;
  border-radius: inherit;
  height: 100%;
  width: 100%;
}
.hexagon:before {
  transform: rotate(60deg);
}
.hexagon:after {
  transform: rotate(-60deg);
}
