.offset-0 {
  margin-left: calc(8vw + 10px);
}
.offset-2 {
  margin-left: calc(-8vw - 10px);
}
.width-full {
  height: 70%;
  aspect-ratio: 1;
  @media (min-width: 615px) {
    height: 80%;
  }
  @media (min-width: 675px) {
    height: 90%;
  }
  @media (min-width: 750px) {
    height: 100%;
  }
}
