<div class="w-full h-full flex flex-col p-4 text-black dark:text-white">
  <div class="w-full h-1/2 flex flex-col items-center justify-center px-3">
    <div class="w-full h-3/5 flex items-end justify-center text-4xl">Delete Entry</div>
    <div class="w-full h-2/5 flex items-start justify-center text-sm">Are you Sure? This cannot be undone!</div>
  </div>
  <div class="w-full h-1/2 flex items-start">
    <div class="w-full flex">
      <div class="w-1/2 flex justify-end">
        <button class="m-1 h-[8vw] w-[16vw] rounded-full py-2 px-3 bg-gray-700 text-white cursor-pointer"
          (click)="respond(false)">
          Cancel
        </button>
      </div>
      <div class="w-1/2 flex justify-start">
        <button class="m-1 h-[8vw] w-[16vw] rounded-full py-2 px-3 bg-gray-700 text-white cursor-pointer"
          (click)="respond(true)">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>